@import url(colors.css);
@import url(text.css);
@import url(lists.css);
@import url(buttons.css);
@import url(images.css);
@import url(sidenav.css);
@import url(stripe.css);
@import url(modals.css);
@import url(utility.css);

html {
  font-size: 14px;
}
body {
  visibility: visible !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.8);
  font-size: 14px;
  line-height: 1.4;
  padding-top: 61px;
}

/** 
 * Setting overflow:hidden on the body will cause it to jump to top.
 * Setting overflow:hidden on html prevents scroll without causing jump to top
 * See https://stackoverflow.com/a/39189219/4038790
 *
 */
html.alert-modal-open {
  overflow: hidden;
}

space {

}

space::after {
  content: " ";
}

p {
  margin-bottom: 1rem;
}

input, textarea, select {
  outline: none !important;
}

a {
  outline:none !important;
  color: #1abc9c;
  word-break: break-word;
}

button:focus {
  outline: 0;
  -webkit-box-shadow: inherit !important;
  box-shadow: inherit !important;
}

.navbar-static-top {
  position: fixed;
  top: 0 !important;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu.dropdown-menu--toRight {
	right: 0;
	left: auto;
}

.btn-success.disabled, .btn-success:disabled {
  background: rgba(26, 188, 156,0.7);
  border: 1px solid rgba(26, 188, 156,0.2);
  opacity: 0.9;
}


input:focus {
  outline:none;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

/** For the container of a moment date-time picker https://indrimuska.github.io/angular-moment-picker/ **/
.moment-picker {
  z-index: 999999 !important;
}

.flex-container-centered-items {
  /* u-flex */
  display: -ms-flexbox!important;
  display: flex!important;
  /* u-justifyContentCenter */
  justify-content: center!important;
  /* u-alignItemsCenter */
  -webkit-box-align:center!important;
  -webkit-align-items:center!important;
  -ms-flex-align:center!important;
  align-items:center!important;
}

.masonry-grid--pages { /* Masonry container */
  column-count: 3;
  column-gap: 1em;
}

.masonry-grid-item--pages { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.masonry-grid--pubs { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
}

.masonry-grid-item--pubs { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.masonry-grid--mediumPosts { /* Masonry container */
  column-count: 2;
  column-gap: 1em;
  height:initial !important;
}

.masonry-grid-item--mediumPost { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

navbar-nav>li>a:hover {
  background: white !important;
  background-color: white !important;
}
.dropdown-menu>li>a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: rgba(0,0,0,.8);
    white-space: nowrap;
    background: white !important;
    background-color: white !important;
}
.dropdown-menu>li>a:hover {
  color: #333;
  background: white !important;
  background-color: white !important;
}

.js-ngAppOnly {
  display: none;
}

.js-currentUserOnly {
  display:none
}

.js-loggedOutOnly {
  display:none
}

.hide-parent-x {
  color: #FFFFFF;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  top: 0;
  text-align: center;

  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.hide-parent-x:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #FFFFFF; 
}

.fixed-top-right {
  position: fixed; 
  top: 0; 
  right: 0;
}

.fixed-top-left {
  position: fixed; 
  top: 0; 
  left: 0;
}

.fixed-bottom-right {
  position: fixed; 
  bottom: 0; 
  right: 0;
}

.fixed-bottom-left {
  position: fixed; 
  bottom: 0; 
  left: 0;
}

.horizontal-scroll-container { 
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; 
}
.horizontal-scroll-container .horizontal-scroll-container-element {
  display: inline-block;
  vertical-align: middle;
  /** https://stackoverflow.com/questions/11862643/how-do-i-make-text-wrap-inside-a-nowrap-container **/
  white-space: normal;
}

.clean-container {
  color: rgba(0,0,0,.7);
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  user-select: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; 
  outline: none;
}

.top-container {
  display:none; 
  background: rgba(255, 255, 255, 0.99);
  color:rgba(80,80,80,.8);
  position: absolute;z-index: 10000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 1256px;
  
  padding: 10%;
  margin-top:-100px;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.li {
    list-style: none;
    border-top: 1px solid rgba(255,255,255,.2);
    padding: 40px 0 35px;
}

.li-padded {
    overflow: hidden;
    position: relative;
    padding-top: 30px;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.li-info {
    float: left;
    width: 60%;
}

.li-title {
    color: rgba(0,0,0,.8);
    font-size: 18px;
}

.li-description {
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 0;
    color: rgba(0,0,0,.3);
    margin-left:5px
}

.li-actions {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -19px;
}

.buttonSet {
    margin-top: 20px;
    margin-bottom: 20px;
}

.promo-content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#nav-mobile-toggle {
  display: none;
  cursor: pointer;
}

#nav-link-user-dropdown-menu {
  position: relative;
  float: right;
}

.pubs-list-pub-info .pup-popover {
  display:none;
} 
.pubs-list-pub-info:hover .pup-popover {
  display:block;
} 

.popover--animated.is-active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s,opacity .2s 0s;
}
.popover.is-active {
    visibility: visible;
}
.popover--animated {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .2s,opacity .2s 0s;
}
.popover {
  overflow: hidden;
  position: absolute;
  z-index: 900;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  visibility: hidden;
  pointer-events: auto;
  min-width:250px;
  top:20px;

  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.popover-inner {
    position: relative;
    padding: 14px;
    background: #fff;
    border-radius: 4px;
}

.popoverCard {
    text-align: left;
}

.popover--bottom .popover-arrow {
    top: 1px;
    clip: rect(0 18px 14px -4px);
}

.popover--bottom .popover-arrow, .popover--top .popover-arrow {
    left: 50%;
    margin-left: -7px;
}
.popover-arrow {
    position: absolute;
}

.desktop-only {
  display: initial
}

.mobile-only {
  display: none
}

.ad--desktop-only {
  display: initial
}
  
.sticky-top {
    position:fixed;
    top:0px
}

.sticky-top--side-panel {
  position:fixed;
    top: 20px
}

.card--page-item {
  width: 46%;
  margin-right:20px;
  margin-bottom: 20px;
}

.card--page-template-item {
  width: 46%;
}

/** Penname Promo **/

.smedian-network-products-grid {
  width: 100%
}

.smedian-network-products-grid .smedian-network-product {
  width: 33%;
  display: inline-block;
  text-align: left
}

.comment-center .comment-body.network-product-body {
  width:fit-content;
  border-bottom:none;
  padding: 15px;
  background: #fff;
}

pre{
  white-space: pre-wrap;
}

.white-box {
  padding: 15px;
}

.btn-success.disabled, .btn-success:disabled {
  background-color: rgba(26, 188, 156,.7);
  border-color: rgba(26, 188, 156,0.3);
  opacity: 0.9;
}

.card-img-top {
  max-width: 100%;
}

img.from-grayscale {
  transition: filter .2s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
img.from-grayscale:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .smedian-network-products-grid .smedian-network-product {
      width: 50%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .smedian-network-products-grid .smedian-network-product {
      width: 100%;
  }
}

/** END Penname Promo **/

@media only screen and (max-width: 1000px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: initial;
  }
  .ad--desktop-only {
    display: none !important;
  }

  .masonry-grid--pages {
    column-count: 2;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
    /** For Safari, we need to allow for 0.1% spacing */
    -webkit-flex: 0 0 24.9% !important;
    -ms-flex: 0 0 24.9% !important;
    flex: 0 0 24.9% !important;
    max-width: 24.9% !important;
  }
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }*/
    .w-col {
      width: 100%;
      left: auto;
      right: auto;
    }
  
  #navbar {
    display: none;
  }
  #nav-mobile-toggle {
    display: block;
  }
  #nav-link-user-dropdown-menu {
    position: initial;
    float: initial;
  }

  .card--page-item {
    width: 100%;
    margin-right:0px
  }
  .card--page-template-item {
    width: 100%;
  }

  .masonry-grid--mediumPosts {
    column-count: 2
  }
}

@media only screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }

  .top-container {
    padding-top:25%;
  }

  .masonry-grid--mediumPosts {
    column-count: 1
  }

  #navbar {
    display: none;
  }
  #nav-mobile-toggle {
    display: block;
  }
  #nav-link-user-dropdown-menu {
    position: initial;
    float: initial;
  }
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container:before,
.w-container:after {
  content: " ";
  display: table;
}
.w-container:after {
  clear: both;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.w-row:before,
.w-row:after {
  content: " ";
  display: table;
}
.w-row:after {
  clear: both;
}
.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}
.w-col-1 {
  width: 8.33333333%;
}
.w-col-2 {
  width: 16.66666667%;
}
.w-col-3 {
  width: 25%;
}
.w-col-4 {
  width: 33.33333333%;
}
.w-col-5 {
  width: 41.66666667%;
}
.w-col-6 {
  width: 50%;
}
.w-col-7 {
  width: 58.33333333%;
}
.w-col-8 {
  width: 66.66666667%;
}
.w-col-9 {
  width: 75%;
}
.w-col-10 {
  width: 83.33333333%;
}
.w-col-11 {
  width: 91.66666667%;
}
.w-col-12 {
  width: 100%;
}